@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }

/**/
html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}
body {
	font-size:12px;
	color: #222;
	font-family: 'Barlow', sans-serif;
	font-weight: 400; 
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/*-webkit-overflow-scrolling: touch;*/
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */

.header-div { margin: 0 auto; padding: 0; position: relative;}
.hero-banner { margin: 0 auto; padding: 0; position: relative; height:614px;}

header {margin: 0 auto; padding: 0; position: relative;}
.top-header-section {margin: 0 auto; padding: 20px 40px; position: relative; display: flex; width: 100%;  }

.logo{margin: 0 auto; padding: 0; position: relative; float: left; width: 20%;}

.top-nav-div {margin: 0 auto; padding: 0; position: relative; text-align: right;width: 80%; float:right;}
.top-nav-div .nav-div {margin: 0 auto; padding: 0; position: relative; text-align: right; float: right;}
.top-nav-div .nav {margin: 0 auto; padding: 0; position: relative;text-align: right;}
.top-nav-div .nav li{margin: 0 0 0 40px; padding: 0; position: relative;}
.top-nav-div .nav li a  { color:#fff; font-size: 16px; display: inline-block;padding: 0 0 5px 0;}
.top-nav-div .nav li a.active  { border-bottom:1px solid #fff; padding: 0 0 5px 0;}
.top-nav-div .nav li a:hover  { border-bottom:1px solid #fff; }

.top-nav-div .closebtn { display: none;}

.top-nav-div .nav .dropdown-toggle::after { content:""!important; border:0!important; margin: 0;padding: 0; width: auto; height: auto;}
.top-nav-div .nav .flaticon-down-arrow:before { font-size: 12px; margin-left: 10px;}

.top-nav-div .dropdown-menu { background-color: transparent; border:0; box-shadow: none; margin: 0; padding: 0;     text-align: center;    min-width: auto;}
.top-nav-div .dropdown-menu li { margin: 0; text-align: center; padding: 0;}

.top-search-div { margin: 0 auto; padding: 0; position: relative; top:200px;}
.top-search-div .top-search-form { margin: 0 auto; padding: 0; position: relative; width: 47%;}
.top-search-div .top-search-form h1{ margin: 0 0 20px 0; padding: 0; position: relative; color:#fff; font-size:47px; text-align: center;font-weight: 400; }
.top-search-div .top-search-form .search-form{ margin: 0 auto; padding: 0; position: relative; display: flex;	justify-content: center;}
.top-search-div .top-search-form .search-form .search-col-1{ width: 20%; float:left; margin: 0 10px 0 0;}
.top-search-div .top-search-form .search-form .search-col-2{ width: 68%; float:left; margin: 0 10px 0 0;}
.top-search-div .top-search-form .search-form .search-col-3{ width: 7%; float:left;}

/* The container must be positioned relative: */
.customs-select {	position: relative; height: 46px; line-height: 46px; background: #fff; color:#7c7c7c; font-size: 15px; cursor: pointer;  }
.customs-select select {	display: none; /*hide original SELECT element: */ color:#7c7c7c  }
.select-selected {	background-color: #fff;  }
/* Style the arrow inside the select element: */
  .select-selected:after {
	position: absolute;
	content: "\f100";font-family: "Flaticon";
	top: 3px;
	right: 30px;
	width: 0;
	height: 0;
	
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
	border-color: transparent transparent #7c7c7c transparent;
  }
  
  /* style the items (options), including the selected item: */
  .select-selected { color:#7c7c7c; padding: 0 16px;}
  .select-items div{
	color: #fff; font-size: 15px;
	padding: 0 16px;
	cursor: pointer;
	line-height: 38px;
  }
  
  /* Style items (options): */
  .select-items {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	top: 50px;
	left: 0;
	right: 0;
	z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
	display: none;
  }
  
  .select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
  }

.go-btn { margin: 0; padding: 0; position: relative; background: #000; color:#fff; border:0; border-radius:none; font-size: 14px; width: 100%; display: block; height: 46px; line-break: 46px; cursor: pointer;}
.top-search-div .top-search-form .icon { padding: 10px;	color: #7c7c7c; font-size: 20px; position: absolute; z-index: 111;  }
.top-search-div .top-search-form .ui-autocomplete-input { margin: 0; padding: 0 0 0 40px; position: relative; width: 100%; height: 46px;line-height: 46px; color: #7c7c7c; font-size: 15px; }

.top-search-div .top-search-form .sub-search-div { margin: 10px 0 0 0; padding: 0; position: relative;}
.top-search-div .top-search-form .search-sub-col-1 { float: left; width: 27%;}
.top-search-div .top-search-form .search-sub-col-2 { float: left; width: 18%;}
.top-search-div .top-search-form .search-sub-col-3 { float: left; width: 18%;}
.top-search-div .top-search-form .search-sub-col-4 { float: left; width: 18%;}
.top-search-div .top-search-form .search-sub-col-5 { float: left; width: 18%;}
.top-search-div .top-search-form .flaticon-sort-down { font-size: 11px; margin-left: 5px;}
.top-search-div .top-search-form .dropdown {position: relative; margin: 0; padding: 0;  }
.top-search-div .top-search-form .dropdown a {position: relative; margin: 0; padding: 0!important;  }
	
.top-search-div .top-search-form .dropdown .multiSel { margin: 0; padding: 0; color:#fff; font-size: 13px;}
  .top-search-div .top-search-form .dropdown dd,.top-search-div .top-search-form .dropdown dt {
	margin: 0px;
	padding: 0px; font-size: 14px; font-weight: normal;
  }
  
  .top-search-div .top-search-form .dropdown ul {
	margin: -1px 0 0 0;
  }
  
  .top-search-div .top-search-form .dropdown dd {
	position: relative;
  }
  
  .top-search-div .top-search-form .dropdown a,.top-search-div .top-search-form .dropdown a:visited {
	color: #fff;
	text-decoration: none;
	outline: none;
	font-size: 12px;
  }
  
  .top-search-div .top-search-form .dropdown dt a {
	display: block;
	padding: 8px 20px 5px 10px;
	min-height: 25px;
	line-height: 24px;
	overflow: hidden;
	border: 0;
	width: 100%;
  }
  
  .top-search-div .top-search-form .dropdown dt a span,.top-search-div .top-search-form  .multiSel span {
	cursor: pointer;  font-size: 14px;
	display: inline-block;
	padding: 0 3px 2px 0;
  }
  
  .top-search-div .top-search-form .dropdown dd ul {
	background-color: rgba(0, 0, 0, 0.5);
	border: 0;
	color: #fff; font-size: 14px;
	display: none;
	left: 0px;
	padding: 10px;
	position: absolute;
	top: 2px;
	width: 100%;
	list-style: none;
	height: auto;
	overflow: auto;
  }
  .top-search-div .top-search-form .dropdown dd ul li { margin: 5px 0; cursor: pointer;}
  .top-search-div .top-search-form .dropdown span.value {
	display: none;
  }
  
  .top-search-div .top-search-form .dropdown dd ul li a {
	padding: 5px;
	display: block;
  }
  
  .top-search-div .top-search-form .dropdown dd ul li a:hover {
	background-color: #fff;
  }

.price-select {	 color:#fff!important; background: transparent!important;}
.price-select select {	 color:#fff!important; background: transparent!important;}
.price-select .select-selected {color:#fff!important; background: transparent!important;}
.ms-pmin input[type="radio"] { display: none;}
.ms-pmax input[type="radio"] { display: none;}

.middle-container { margin: 0; padding: 0; position: relative;}

.intro-section { margin: 0; padding: 100px 32%; position: relative; text-align: center;}
.intro-section h2 { margin: 0 0 34px 0; padding: 0; position: relative; color:#000; font-size: 26px;}
.intro-section p{ margin: 0 0 30px 0; padding: 0; position: relative; font-size: 15px; color:#8b8d8f; line-height: 24px;}

.featured-listings-section{ margin: 0; padding: 100px 0; position: relative; background: #f3f3f3; }
.featured-listings-section h2{margin: 0; padding: 0; position: relative; color:#000; font-size: 26px; text-align: center;}
.featured-listings-section .featured-listings-box{ margin: 0; padding: 0; position: relative; background: #fff; }
.featured-listings-section .featured-listings-box .thumb { margin: 0; padding: 0; position: relative;}
.featured-listings-section .featured-listings-box .txt { margin:0; padding: 10px 0 ; position: relative;}
.featured-listings-section .featured-listings-box h3{ margin: 0 0 8px 0; padding: 0; color:#000; font-size: 16px; font-weight: 600;  text-align: center; }
.featured-listings-section .featured-listings-box p{ margin: 0; padding: 0; color:#000; font-size: 13px; text-align: center;}

.featured-listings-section .featured-listings-box:hover .overlay{ opacity: 1;}
.featured-listings-section .featured-listings-box .overlay {opacity: 0; background: rgba(0, 0, 0, 0.8); margin: 0; padding: 0; position: absolute; top:0; left:0; width: 100%; height: 100%; text-align: center;}
.featured-listings-section .featured-listings-box .overlay .overlay-box { margin: 0; padding: 0; position: relative; top:60px;}
.featured-listings-section .featured-listings-box .overlay .location-1 { margin: 0 0 10px 0; padding:0;color:#fff; font-size: 14px;}
.featured-listings-section .featured-listings-box .overlay .location-2 { margin: 0 0 30px 0; padding:0;color:#fff; font-size: 18px;}
.featured-listings-section .featured-listings-box .overlay .seemore { margin: 0; padding:10px 30px;color:#fff; font-size: 18px; border:3px solid #fff; display: inline-block;}
.featured-listings-section .featured-listings-box .overlay .seemore:hover { background: #fff; border:3px solid #fff; color:#000;}

.featured-listings-section .featured-listings-div { margin: 60px 0 0 0; padding: 0; position: relative;}
.featured-listings-section .searchlisting-btn-div{ margin: 60px 0 0 0; padding: 0; position: relative;}

.intro-bottom-section { margin: 0;padding: 0; position: relative; height: 100%;max-height: 860px; display: flex;overflow: hidden;align-items: center;-ms-flex-align: stretch!important;align-items: stretch!important; }
.intro-bottom-section .intro-btm-col-1{ margin: 0;padding: 0; position: relative; float: left; width: 50%;display: flex;align-items: center;    height: 100%;  }
.intro-bottom-section .intro-btm-col-1 img { width: 100%;}
.intro-bottom-section .intro-btm-col-2{ margin: 0;padding: 0; position: relative; float: left; width: 50%; text-align: center;display: flex;align-items: center;height: 100%; justify-content: center; }
.intro-bottom-section .intro-btm-col-2 .intro-btm-txt-section{ margin: 0;padding: 0px 0%;width: 55%; position: relative; text-align: center; }
.intro-bottom-section .intro-btm-col-2 h3 { margin: 0 0 47px 0; padding: 0; color:#000; font-size:38px;}
.intro-bottom-section .intro-btm-col-2 h4 { margin: 0 0 42px 0; padding: 0; color:#000; font-size: 24px;}
.intro-bottom-section .intro-btm-col-2 p { margin: 0 0 35px 0; padding: 0; color:#8b8d8f; font-size: 15px; line-height: 24px;}

.testimonials-section{ margin: 0;padding: 120px 0; position: relative; background: #f3f3f3;}
.testimonials-section h2{  margin: 0; padding: 0; position: relative; color:#000; font-size: 26px; text-align: center;}
.testimonials-section .testimonials-listings-div { margin: 60px 0 0 0;padding: 0; position: relative;}
.testimonials-section .testimonials-listings-div .testimonials-box { margin: 0 auto;padding: 0; position: relative; text-align: center;}
.testimonials-section .testimonials-listings-div .testimonials-box .star { margin: 0 0 20px 0;padding: 0;}
.testimonials-section .testimonials-listings-div .testimonials-box .star i { margin-right: 8px;}
.testimonials-section .testimonials-listings-div .testimonials-box p { margin: 0;padding: 0; margin: 0 0 35px 0; padding: 0; color:#8b8d8f; font-size: 15px; line-height: 24px;}
.testimonials-section .testimonials-listings-div .testimonials-box h4 { margin: 0 0 35px 0; padding: 0; color:#000; font-size: 15px; line-height: 24px;}

.contact-action-section{ margin: 0;padding: 0; position: relative; }
.contact-action-section .contact-action-div{ margin: 0 auto;padding: 60px 0; position: relative; text-align: center;}
.contact-action-section .contact-action-div h2{ margin: 0 30px 0 0;padding: 0; color:#fff; font-size: 20px; display: inline-block; }
.contact-action-section .contact-action-div .contact-btn-link { margin: 0; padding: 0; display: inline-block;}

.contact-action-section.homebg {background: url(../images/contact-action-bg.jpg) no-repeat center top; background-size: cover;}
.contact-action-section.buybg {background: url(../images/contact-action-buy-bg.jpg) no-repeat center top; background-size: cover;}
.contact-action-section.sellbg {background: url(../images/contact-action-bg.jpg) no-repeat center top; background-size: cover;}

.getintouch-div { margin: 30px 0 0 0; padding: 0;}

.footer-section { margin: 0; padding: 0; position: relative; background: #333; border-top:1px solid #000;}
.footer-blk-div { margin: 0; padding: 70px 0; position: relative;}

.footer-blk-div .footer-logo{ margin: 0 0 50px 0; padding: 0;}
.footer-blk-div .footer-logo img{ width: 211px;}

.footer-blk-div .footer-txt{ margin: 0; padding: 0; position: relative;}
.footer-blk-div .footer-txt address{ margin: 0; padding: 0;}
.footer-blk-div .footer-txt address span{ margin: 0 0 20px 0; padding: 0; font-size: 12px; color:#fff; display: block;line-height: 18px; }

.footer-blk-div .footer-link-txt{ margin: 0; padding: 0; position: relative;}
.footer-blk-div .footer-link-txt ul{ margin: 0; padding: 0;}
.footer-blk-div .footer-link-txt ul li{ margin: 0 0 10px 0; padding: 0;}
.footer-blk-div .footer-link-txt ul li a{ margin: 0; padding: 0; font-size: 12px; color:#fff;}
.footer-blk-div .footer-link-txt ul li a:hover { text-decoration: underline;}

.footer-blk-div .footer-social{ margin: 0 0 18px 0; padding: 0;}
.footer-blk-div .footer-social a{ margin: 0 10px 0 0; padding: 0; border-radius: 100%; width: 23px; height: 23px; line-height: 23px; color:#333; font-size: 13px; text-align: center; display: inline-block; background: #fff;} 
.footer-blk-div .copyright-txt{ margin: 0 0 10px 0; padding: 0; font-size: 12px; color:#fff;}
.footer-blk-div .light-footer-link{ margin: 0; padding: 0;}
.footer-blk-div .light-footer-link a{ margin: 0 10px 0 0; padding: 0; color:#888888; font-size: 12px; }
.footer-blk-div .light-footer-link a:hover { color:#fff;}

/* inner pages */
.sorting-select-div { margin: 0; padding: 0; position: absolute; top:0; right:0;}

/* The container must be positioned relative: */
.customs-select-sort {	position: relative; height: 36px; line-height: 34px; background: #fff; color:#000; font-size: 15px; cursor: pointer; width: 170px; border: 1px solid #000; }
.customs-select-sort select {	display: none; /*hide original SELECT element: */ color:#000  }
.customs-select-sort .select-selected {	background-color: #fff;  }
/* Style the arrow inside the select element: */
.customs-select-sort .select-selected:after {
	position: absolute;
	content: "\f100";font-family: "Flaticon";
	top: 2px;
	right: 25px;
	width: 0;
	height: 0;
	
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .customs-select-sort .select-selected.select-arrow-active:after {
	border-color: transparent transparent #000 transparent;
  }
  
  /* style the items (options), including the selected item: */
  .customs-select-sort .select-selected { color:#000; padding: 0 10px;}
  .customs-select-sort .select-items div{
	color: #000; font-size: 15px; margin:10px 0;
	padding: 0 10px;
	cursor: pointer;
	line-height: normal;
  }
  
  /* Style items (options): */
  .customs-select-sort .select-items {
	position: absolute;
	background-color: #fff;
	top: 36px;
	left: 0;
	right: 0;
	z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .customs-select-sort .select-hide {
	display: none;
  }
  
  .customs-select-sort .select-items div:hover,.customs-select-sort  .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
  }

.featured-listings-box .amenities-div { margin: 20px 0 0 0; padding: 0; position: relative; display: flex; justify-content:center;}
.featured-listings-box .amenities-div .amenities-1 { margin: 0 30px 0 0; padding: 0; }
.featured-listings-box .amenities-div .amenities-2 { margin: 0 30px 0 0; padding: 0; }
.featured-listings-box .amenities-div .amenities-3 { margin: 0; padding: 0; }
.featured-listings-box .amenities-div .txt { margin: 0 0 0 10px; padding: 0; color:#797f82; font-size:21px; display: inline-block; vertical-align: top;}
.featured-listings-box .amenities-div .icons {  -webkit-filter: opacity(.6);  filter: opacity(.6);  }
.featured-listings-section .featured-listings-box { margin-bottom: 30px; }
.featured-listings-section .featured-listings-box .undercontract-badge { margin: 0;padding: 20px 0 0 0; background: #000; font-size: 9px; color:#fff; position: absolute; top:0; left:0; width:70px; height:70px; 
	line-height: normal; text-align: center; text-transform: uppercase;	 display:block; z-index: 11;}

.listing-bg .hero-banner { height: auto;}
.listing-bg .top-nav-div .nav li a { color:#000;}
.listing-bg .top-nav-div .nav li a.active { border-bottom: 1px solid #000;}
.listing-bg .top-nav-div .nav li a:hover { border-bottom: 1px solid #000;}

.listing-container { margin: 0 0 100px 0; padding: 0; position: relative;}
.listing-container .listing-txt-div { margin: 0; padding: 60px 40px 0 0; position: relative;}
.listing-container .listing-txt-div h2 { margin: 0 0 60px 0; padding: 0 30px 0 0; color:#000; font-size:24px; font-weight: normal; line-height: 32px;}
.listing-container .listing-txt-div p { margin: 0 0 30px 0; padding: 0; color:#8b8d8f; font-size:17px; line-height: 28px;}
.listing-container .listing-txt-div span { margin: 0; padding: 0; color:#8b8d8f; font-size:17px; line-height: 28px; display: block;}
.listing-container .listing-txt-div ul { margin: 0 0 30px 0; padding: 0; list-style-type: none;}
.listing-container .listing-txt-div ul li {  margin: 0 0 10px 5px; padding: 0 0 0 0; color:#8b8d8f; font-size:17px; line-height: 28px;}
.listing-container .listing-txt-div ul li::before {	content: "-";	margin-left: -5px;}
.listing-container .listing-txt-div h4 { margin: 0 0 20px 0; padding: 0 30px 0 0; color:#000; font-size:24px; font-weight: normal; line-height: 32px;}

.openhome-hur-section{ margin: 50px 0 0 0; padding: 0; position: relative; background: #f3f3f3;}
.openhome-hur-section .hours-box{ margin: 0; padding: 50px 40px; text-align: center;}
.openhome-hur-section .hours-box .icons{ margin: 0 0 10px 0; padding: 0;}
.openhome-hur-section .hours-box h4{ margin: 0 0 20px 0; padding: 0; color:#000; font-size: 22px;}
.openhome-hur-section .hours-box p{ margin: 0; padding: 0;color:#000; font-size: 18px; line-height: 24px;}

.agent-list-section{ margin: 100px 0 0 0; padding: 0; position: relative;}
.agent-list-section .agent-info-div{ margin: 0 0 80px 0; padding: 0; position: relative; text-align: center;}
.agent-list-section .agent-info-div .thumb{ margin: 0 0 20px 0; padding: 0; position: relative;}
.agent-list-section .agent-info-div .thumb img{ margin: 0; padding: 0; position: relative; background: #666; width: 153px; height: 153px; border-radius: 100%;}
.agent-list-section .agent-info-div h4 {margin: 0 0 20px 0; padding: 0; color:#000; font-size: 22px;}
.agent-list-section .agent-info-div p {margin: 0; padding: 0;color:#4e4e4e; font-size: 18px; line-height: 24px;}
.agent-list-section .agent-info-div a {color:#4e4e4e; }
.agent-list-section .agent-info-div a:hover {color:#000; }

.listing-gallery-section{ margin: 0; padding: 40px 0; position: relative; background: #f3f3f3;}

.listing-gallery-section .listing-gallery-txt-white-div { margin: 10px 0 40px 0; padding: 24px; position: relative; background: #fff;}
.listing-gallery-section .listing-gallery-txt-white-div .property-txt { margin: 0; padding: 0; color:#000; font-size: 20px; font-weight: normal; display: inline-block;} 
.listing-gallery-section .listing-gallery-txt-white-div .amenities-div { margin: 0; padding: 0; position: relative; display: inline-block; text-align: right; float: right;}
/*.featured-listings-box .amenities-div { margin: 20px 0 0 0; padding: 0; position: relative; display: flex; justify-content:center;}*/
.listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-1 { margin: 0 20px 0 0; padding: 0; }
.listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-2 { margin: 0 20px 0 0; padding: 0; }
.listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-3 { margin: 0 20px 0 0; padding: 0; }
.listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-4 { margin: 0 20px 0 0; padding: 0; }
.listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-5 { margin: 0 0 0 0; padding: 0; }
.listing-gallery-section .listing-gallery-txt-white-div .amenities-div .txt { margin: 0 0 0 10px; padding: 0; color:#797f82; font-size:20px; display: inline-block; vertical-align: top;}


.listing-gallery-section .listing-gallery-txt-btm-div { margin: 0; padding: 0;}
.listing-gallery-section .listing-gallery-txt-btm-div h3 { margin: 0 0 10px 0; padding: 0; color:#000; font-size: 24px; font-weight: normal;}
.listing-gallery-section .listing-gallery-txt-btm-div h4 { margin: 0; padding: 0; color:#949191; font-size: 32px; font-weight: normal;}

.listing-gallery-blk-div #listing-prop-gallery { margin: 0; padding: 0; position: relative; float: left; width: 69%;}
.listing-gallery-blk-div #listing-prop-thumb-gallery { margin: 0; padding: 0; position: relative; float: right; width: 30%;}
.listing-gallery-blk-div #listing-prop-gallery img { width: 100%; height: auto;}
.listing-gallery-blk-div #listing-prop-thumb-gallery img { width: 100%; height: 100%;}
.listing-gallery-blk-div ul { margin: 0; padding: 0;}
.listing-gallery-blk-div .prop-gallery-slider{ margin: 0; padding: 0; position: relative;}
.listing-gallery-blk-div .prop-gallery-thumb-slider{ margin: 0; padding: 0; position: relative;}
.listing-gallery-blk-div .prop-gallery-thumb-slider li{ margin: 0 0 10px 0; padding: 0; position: relative; height: 189px;}
.listing-gallery-blk-div .prop-gallery-thumb-slider .thumb-overlay { margin: 0; padding: 80px 0 0 0; position: absolute; top:0; left: 0; background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; text-align: center; font-size: 20px;}
.listing-gallery-blk-div .prop-gallery-thumb-slider a { color:#fff;}
.listing-gallery-blk-div .prop-gallery-thumb-slider .thumb-overlay:hover {background: rgba(0, 0, 0, 0.7);}

.make-enquiry-div { margin: 30px 0 0 0; padding: 0; position: relative;}
.make-enquiry-div .make-enquiry-link{ margin: 0; padding: 0; background: #000; font-size: 21px; color:#fff; height: 75px; line-height: 75px; text-align: center; display: block; transition: all 0.3s ease-in-out; }
.make-enquiry-div .make-enquiry-link .icon-mail { position: relative; top:3px; margin-right: 10px; }


.listing-col-1 { width: 70%; float: left; }
.listing-col-2 { width: 26%; float: right; margin-left: 4%; }

.date-blk-div { margin: 0 0 40px 0; padding: 0; position: relative; font-size: 18px; color:#000; font-weight:600; }
.date-blk-div .icon-calendar { margin: 0 10px 0 0!important; display: inline-block!important; position: relative; top:3px;}

.listing-gallery-blk-div .prop-gallery-slider .undercontract-badge { margin: 0;padding: 30px 0 0 0; background: #000; font-size: 14px; color:#fff; position: absolute; top:0; left:0; width:100px; height:100px; 
	line-height: normal; text-align: center; text-transform: uppercase;	 display:block; z-index: 11;}

.our-story-txt-section { margin: 0; padding: 0; position: relative;}
.our-story-txt-section .our-story-txt { margin: 135px 18%; padding: 0; text-align: center;}
.our-story-txt-section .our-story-txt p { margin: 0 0 40px 0; padding: 0; text-align: center; color:#8b8d8f; font-size: 14px; line-height: 24px;}

.our-story-txt-img-section { margin: 0; padding: 0; position: relative; background: #f3f3f3;}
.our-story-txt-img-section .our-story-img { margin:0; padding: 0; background: url(../images/our-story-txt-img.png) no-repeat left bottom; }
.our-story-txt-img-section .our-story-txt  { margin: 0; padding: 160px 0; text-align: center; width: 25%; float:left; position: relative; left: 50%; }
.our-story-txt-img-section .our-story-txt h2 { margin: 0 0 30px 0; padding: 0; text-align: center; color:#000; font-size: 23px; }
.our-story-txt-img-section .our-story-txt p { margin: 0 0 30px 0; padding: 0; text-align: center; color:#8b8d8f; font-size: 14px; line-height: 24px;}

.get-in-touch-section { margin: 0; padding: 0; position: relative;}
.get-in-touch-section .get-in-touch-div{ margin: 0; padding: 130px 0; position: relative;}
.get-in-touch-section .get-in-touch-div form{ padding: 0px 15%;width: 100%; }
.get-in-touch-section .get-in-touch-form-div{ margin: 0; padding: 0; position: relative;}
.get-in-touch-section .get-in-touch-form-div h3{ margin: 0 0 43px 0; padding: 0; position: relative; text-align: center; color:#000; font-size: 24px;}
.get-in-touch-section .get-in-touch-form-div .form-control{ border-radius: 0; border: 1px solid #8b8d8f;}
.get-in-touch-section .get-in-touch-form-div .sbtn-div { margin: 50px 0 0 0;}

.our-team-section { margin: 0; padding: 0; position: relative; background: #f1f1f1;}
.our-team-section .our-team-txt-div{ margin: 0; padding: 110px;}
.our-team-section .our-team-txt-div p{ margin: 0; padding: 0; color:#8b8d8f; font-size: 17px; line-height: 24px; text-align: center; font-weight: normal;}

.our-team-section .our-team-listing-div{ margin: 0 0 0px 0; padding: 0 0 30px 0; position: relative;}
.our-team-section .our-team-listing-div .our-team-list-box{ margin: 0 0 70px 0; padding: 0 0 30px 0; position: relative; background: #fff;}
.our-team-section .our-team-listing-div .our-team-list-box .thumb{ margin: 0; padding: 0; position: relative;}
.our-team-section .our-team-listing-div .our-team-list-box .thumb img{ width: 100%;}
.our-team-section .our-team-listing-div .our-team-list-box h2{ margin: 0; padding: 50px 0 10px 0; color:#000; font-size: 23px; font-weight: normal; text-align: center;}
.our-team-section .our-team-listing-div .our-team-list-box h3{ margin: 0; padding: 0 0 30px 0; color:#000; font-size: 17px; font-weight: 600; text-align: center;}
.our-team-section .our-team-listing-div .our-team-list-box .normal-txt{ margin: 0; padding: 0 20px; color:#8b8d8f; font-size: 17px; line-height: 24px; text-align: center; 
	font-weight: normal; text-align: center; height: 210px;}
.our-team-section .our-team-listing-div .our-team-list-box .btm-div{ margin: 0 0 0 0; padding: 40px 0 0 0; text-align: center; border-top:1px solid #d8d8d8;}
.our-team-section .our-team-listing-div .our-team-list-box .btm-div span{ margin: 0 0 20px 0; padding: 0;color:#000; font-size: 18px; font-weight: 600; display: block; }
.our-team-section .our-team-listing-div .our-team-list-box .btm-div a{color:#000; font-size: 18px; font-weight: 600;}
.our-team-section .our-team-listing-div .our-team-list-box .btm-div a:hover { border-bottom: 1px solid #000;}


.projects-section { margin: 0; padding: 0; position: relative; background: #f1f1f1;}
.projects-section .projects-txt-div{ margin: 0; padding: 110px;}
.projects-section .projects-txt-div p{ margin: 0; padding: 0; color:#8b8d8f; font-size: 17px; line-height: 24px; text-align: center; font-weight: normal;}

.projects-section .projects-listing-div{ margin: 0 0 0px 0; padding: 0 0 80px 0; position: relative;}
.projects-section .projects-listing-div .projects-list-box{ margin: 0 0 30px 0; padding: 0 0 30px 0; position: relative; background: #fff;}
.projects-section .projects-listing-div .projects-list-box .thumb{ margin: 0; padding: 0; position: relative;}
.projects-section .projects-listing-div .projects-list-box .thumb img{ width: 100%;}
.projects-section .projects-listing-div .projects-list-box h2{ margin: 0; padding: 40px 0 25px 0; color:#000; font-size: 24px; font-weight: normal; text-align: center;}
.projects-section .projects-listing-div .projects-list-box .normal-txt{ margin: 0; padding: 0 20px; color:#8b8d8f; font-size: 17px; line-height: 24px; text-align: center; 
	font-weight: normal; text-align: center; height: 110px;}
.projects-section .projects-listing-div .projects-list-box .btn-div{ margin: 0 auto; padding: 40px 0 0 0; text-align: center; }
.projects-section .projects-listing-div .projects-list-box .btn-div a{color:#5c5c5c; font-size: 17px; font-weight: 600; border:3px solid #5c5c5c; height: 47px; line-height: 40px; 
	text-align: center; width: 173px; display: inline-block;}
.projects-section .projects-listing-div .projects-list-box .btn-div a:hover { border: 3px solid #000; background: #000; color:#fff;}

.property-management-section { margin: 0; padding: 0; position: relative;}
.property-management-section .property-management-txt-div { margin: 0; padding: 160px 15% 120px 15%; position: relative; text-align: center;}
.property-management-section .property-management-txt-div h3{ margin: 0 0 35px 0; padding: 0; color:#000; font-size: 28px;}
.property-management-section .property-management-txt-div p{ margin: 0 0 40px 0; padding: 0; color:#8b8d8f; font-size: 17px; line-height: 24px;}

.property-mange-blk-1-section{ margin: 0; padding: 0; position: relative; background: #4b4b4b;}
.property-mange-blk-1-section .property-manage-blk-1-div { margin: 0; padding: 0; position: relative; height: 100%; max-height: 860px; display: flex; overflow: hidden; align-items: center; -ms-flex-align: stretch!important; align-items: stretch!important; }
.property-mange-blk-1-section .property-manage-blk-1-div .pic-div { margin: 0; padding: 0; position: relative; float: left; width: 50%; display: flex; align-items: center; height: 100%; }
.property-mange-blk-1-section .property-manage-blk-1-div .txt { margin: 0; padding: 0; position: relative; float: left; width: 50%;padding: 0 10%; text-align: center; display: flex; align-items: center;justify-content: center;flex-direction: column; }
.property-mange-blk-1-section .property-manage-blk-1-div .txt p{ margin: 0 0 40px 0; padding: 0; color:#fff; font-size: 17px; line-height: 32px; font-weight: normal; text-align: center; }
.property-mange-blk-1-section .property-manage-blk-1-div .txt p:last-child{ margin: 0 0 0px 0; }

.property-mange-blk-2-section{ margin: 0; padding: 0; position: relative; background: #f0f0f0;}
.property-mange-blk-2-section .property-manage-blk-2-div { margin: 0; padding: 100px 50px; position: relative; display: flex; align-items: center; justify-content: center; }
.property-mange-blk-2-section .property-manage-blk-2-div .pic-div{ margin: 0; padding: 0; position: relative; float: right;width: 50%; }
.property-mange-blk-2-section .property-manage-blk-2-div .pic-div img { width: 100%;}
.property-mange-blk-2-section .property-manage-blk-2-div .txt { margin: 0; padding: 0 10%; position: relative; width: 50%; height: 100%; display: flex; flex-direction: column; float: left; text-align: center; }
.property-mange-blk-2-section .property-manage-blk-2-div .txt h3{ margin: 0 0 40px 0; padding: 0; color:#000; font-size: 28px; line-height: 32px; font-weight: normal; text-align: center; }
.property-mange-blk-2-section .property-manage-blk-2-div .txt p{ margin: 0 0 40px 0; padding: 0; color:#8b8d8f; font-size: 17px; line-height: 30px; font-weight: normal; text-align: center; }
.property-mange-blk-2-section .property-manage-blk-2-div .txt p:last-child{ margin: 0 0 0px 0; }

.property-mange-blk-3-section{ margin: 0; padding: 0; position: relative; background: #f0f0f0;}
.property-mange-blk-3-section .property-manage-blk-3-div { margin: 0; padding: 100px 50px; position: relative; display: flex; align-items: center; justify-content: center; }
.property-mange-blk-3-section .property-manage-blk-3-div .pic-div{ margin: 0; padding: 0; position: relative; float: right;width: 50%; }
.property-mange-blk-3-section .property-manage-blk-3-div .pic-div img { width: 100%;}
.property-mange-blk-3-section .property-manage-blk-3-div .txt { margin: 0; padding: 0 10%; position: relative; width: 50%; height: 100%; display: flex; flex-direction: column; float: left; text-align: center; }
.property-mange-blk-3-section .property-manage-blk-3-div .txt h3{ margin: 0 0 40px 0; padding: 0; color:#000; font-size: 28px; line-height: 32px; font-weight: normal; text-align: center; }
.property-mange-blk-3-section .property-manage-blk-3-div .txt p{ margin: 0 0 40px 0; padding: 0; color:#8b8d8f; font-size: 17px; line-height: 30px; font-weight: normal; text-align: center; }
.property-mange-blk-3-section .property-manage-blk-3-div .txt p:last-child{ margin: 0 0 0px 0; }


.property-feature-amenities-section { margin: 0; padding: 50px 0; position: relative; background: #000;}
.property-feature-amenities-section .prop-feature-amenities-div{ margin: 0; padding: 0 10%; position: relative;}
.property-feature-amenities-section .prop-feature-amenities-div .prop-feature-blk{ margin: 0 4%; padding: 0 ; position: relative; text-align: center;  display: inline-block; float:left; width: 25%; }
.property-feature-amenities-section .prop-feature-amenities-div .icons-div{ margin: 0 0 10px 0; padding: 0;}
.property-feature-amenities-section .prop-feature-amenities-div h3{ margin: 0 0 5px 0; padding: 0; color:#fff; font-size: 17px; font-weight: 700;}
.property-feature-amenities-section .prop-feature-amenities-div h4{ margin: 0; padding: 0;color:#fff; font-size: 22px; font-weight: normal;}

.property-feature-blk-section { margin: 0; padding: 0; position: relative;}
.property-feature-blk-section .prop-feature-blk-div{ margin: 60px 0 100px 0; padding: 0 200px; position: relative; text-align: center;}
.property-feature-blk-section .prop-feature-blk-div .project-logo{ margin: 0px 0 50px 0; padding: 0;}
.property-feature-blk-section .prop-feature-blk-div .project-address{ margin: 0 auto 60px auto; padding: 10px 30px 12px 30px;  color:#000; font-size: 22px;font-weight: normal; text-align: center; border:2px solid #717171; display: inline-block; }
.property-feature-blk-section .prop-feature-blk-div .project-address span { margin: 0 auto; text-align: center; display: block;}
.property-feature-blk-section .prop-feature-blk-div h2{ margin: 0 0 47px 0; padding: 0; color:#000; font-size: 30px;font-weight: normal; text-align: center; }
.property-feature-blk-section .prop-feature-blk-div p{ margin: 0 0 40px 0; padding: 0;  color:#8b8d8f; font-size: 17px; line-height: 30px; font-weight: normal; text-align: center; }
.property-feature-blk-section .prop-feature-blk-div .blk-btn-link{ margin: 60px 0 0px 0; padding: 0; text-align: center;}

.property-feature-amenities-btm-section{ margin: 0; padding: 50px 0; position: relative; background: #000;}
.property-feature-amenities-btm-section h3 { margin: 0 0 65px 0; padding: 0; text-align: center; color:#fff; font-size: 30px; font-weight: normal;}
.property-feature-amenities-btm-section .prop-feature-amenities-btm-div{ margin: 0; padding: 0 8%; position: relative;}
.property-feature-amenities-btm-section .prop-feature-amenities-btm-div .prop-feature-blk{ margin: 0 2%; padding: 0 ; position: relative; text-align: center;  display: inline-block; float:left; width: 20%; }
.property-feature-amenities-btm-section .prop-feature-amenities-btm-div ul{ margin: 0; padding: 0; color:#b7b7b7; font-size: 17px; font-weight: normal;}
.property-feature-amenities-btm-section .prop-feature-amenities-btm-div ul li{ margin: 0; padding: 0;color:#b7b7b7; font-size: 17px; font-weight: normal; text-align: center; line-height: 24px;}

.sold-badge { margin: 0; padding: 0; position: absolute; top:20px; left: 15px; width: 77px; height:77px ; line-height:77px ; border-radius: 100%; background: #00503d; font-size: 20px;color:#fff; text-align:center; font-weight: normal; }
.bdr-right {border-right: 1px solid #f3f3f3;}
.icons { background: url(../images/sprite.png) no-repeat; display: inline-block; position: relative;}
.icons.icon-bed { background-position: -8px -7px; height:18px; width: 29px;}
.icons.icon-bathtub { background-position: -44px -2px; height:24px; width: 27px; top:-3px; }
.icons.icon-car { background-position: -76px -8px; height:15px; width: 32px;}
.icons.icon-door { background-position: -8px -34px; height:35px; width: 29px;}
.icons.icon-floor { background-position: -118px -6px; height:29px; width: 26px;}
.icons.icon-land { background-position: -155px -8px; height:28px; width: 30px;}
.icons.icon-mail { background-position: -199px -10px; height:21px; width: 26px;}
.icons.icon-calendar { background-position: -231px -10px; height:20px; width: 20px;}
.icons.icon-cal { background-position: -295px -5px; height:29px; width: 26px;}
.icons.icon-price { background-position: -254px -4px; height:30px; width: 30px;}
.icons.icon-unit { background-position: -335px -7px; height:28px; width: 50px;}

.black-link { margin: 0; padding: 15px 50px; background: #000; color:#fff; font-size: 15px; cursor: pointer; border:1px solid #000; display: inline-block;font-weight: 600;}
.black-link:hover { background: #fff; color:#000;}

.white-link { margin: 0; padding: 15px 50px; background: #fff; color:#000; font-size: 14px; cursor: pointer; border:1px solid #fff; display: inline-block; font-weight: 600;}
.white-link:hover { background: #000; color:#fff; border:1px solid #000;}

.sbtn { margin: 0 auto; padding: 0; background: #000; font-size: 14px; color:#fff; font-weight: 600; display: inline-block; border:1px solid #000; border-radius: 0; height: 43px; line-height: 43px; width: 190px; text-align: center; cursor: pointer;}
.sbtn:hover { background: #fff; border:1px solid #000; color:#000;}

.contact-action-section.resultbg {background: url(../images/result-bg.jpg) no-repeat center top; background-size: cover;}
.contact-action-section.rentbg {background: url(../images/contact-action-rent-bg.jpg) no-repeat center top; background-size: cover;}

#cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.8); cursor: pointer; z-index: 2; display: none; }
#cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }

.property-feature-slider-section{ padding: 0;margin: 0;position: relative; }
.property-feature-slider-section .container-fluid{ padding: 0; }
.feature_slider{ padding: 0;margin: 0;position: relative; }
.feature_slider img.img-arrow { width: 30px; }
.feature_slider .carousel-control-next, .feature_slider .carousel-control-prev { opacity: 1; }
.feature_slider .img-slider { width: 100%; }
.feature_slider .carousel-indicators li{ width: 15px; height: 15px; border-radius: 100%; margin: 0 5px; }
.feature_slider .carousel-indicators{ bottom: 30px; }

.get-in-touch-section .get-in-touch-form-div .tick-txt-div{ padding: 0;margin: 0;font-size: 17px;font-weight: 400;color: #8b8d8f;  display: flex;align-items: center; }

.get-in-touch-section .agent-list-section{ margin: 0 0 0 0; }

.get-in-touch-form-div .checklist { margin: 0 0 0px 0; padding: 0 35px; display: inline-flex; align-items: center; }
.get-in-touch-form-div .checklist input[type="radio"], .checklist input[type="checkbox"] { margin: 0px 0 0; }
.get-in-touch-form-div .checklist .form-radio { -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; background-color: #fff; color: #8b8d8f; top: 0px; height: 24px; width: 24px; border: 1px solid #8b8d8f; cursor: pointer; margin-right: 7px; outline: none!important; vertical-align: middle; }
.get-in-touch-form-div .checklist .form-radio:checked::before { position: absolute; left: 7px; top: 1px; font-size: 16px; content: '\02143'; transform: rotate(40deg); }
.get-in-touch-form-div .checklist .txt_span{ padding-left:10px; }

.mt-0{ margin-top: 0px!important; }
.mt-20{ margin-top: 20px!important; }

.privacy-policy-section{ padding:100px 0;margin: 0;background-color: #f3f3f3; }
.privacy-policy-section .row_div{ padding:70px 0 0 0;margin: 0; }
.privacy-policy-section h1{ padding:0px 0;margin: 0;color: #000000;font-size: 24px;font-weight: 400; }
.privacy-policy-section .row_div h2{ padding:0px 0;margin: 0;color: #8b8d8f;font-size: 17px;font-weight: 600;line-height: 24px; }
.privacy-policy-section .row_div p{ padding:0px 0 30px 0;margin: 0;color: #8b8d8f;font-size: 17px;font-weight: 400;line-height: 24px; }
.privacy-policy-section .row_div p:last-child{ padding:0px 0 00px 0; }
.privacy-policy-section .row_div address{ padding:0px 0 30px 0;margin: 0;color: #8b8d8f;font-size: 17px;font-weight: 400;line-height: 24px; }
.privacy-policy-section .row_div p > a{ color: #8b8d8f; }

.sell-blk-section{ margin: 0; padding: 0; position: relative; background: #f0f0f0;}
.sell-blk-section .sell-blk-div { margin: 0px 0 0 0; padding: 100px 50px; position: relative; display: flex; align-items: center; }
.sell-blk-section .sell-blk-div .pic-div{ margin: 0; padding: 0; position: relative; float: right;width: 50%; }
.sell-blk-section .sell-blk-div .pic-div img { width: 100%; }
.sell-blk-section .sell-blk-div .txt { margin: 0px 0 0 0; padding: 0 8%; position: relative; width: 50%; display: flex; flex-direction: column; float: left; align-items: center; text-align: center; }
.sell-blk-section .sell-blk-div .txt h2{ margin: 0 0 40px 0; padding: 0; color:#000; font-size: 40px; font-weight: normal; text-align: center; }
.sell-blk-section .sell-blk-div .txt h3{ margin: 0 0 30px 0; padding: 0; color:#000; font-size: 28px; line-height: 32px; font-weight: normal; text-align: center; }
.sell-blk-section .sell-blk-div .txt p{ margin: 0 0 40px 0; padding: 0; color:#8b8d8f; font-size: 17px; line-height: 30px; font-weight: normal; text-align: center; }

.user_listing { display: flex; width: 100%;padding: 0 0%; }
.sell-blk-section .usercard_half { padding: 10px 0; margin: 0; display: flex; justify-content: center; align-items: center; flex-direction: column; width: 50%; }
.sell-blk-section .usercard_half h4 { padding: 10px 0; margin: 15px 0 0 0; font-size: 22px; font-weight: 400; color: #000; }
.sell-blk-section .usercard_half a{ margin: 0 0 0px 0; padding: 0; color:#4e4e4e; font-size: 17px; line-height: 30px; font-weight: normal; text-align: center; }
.sell-blk-section .usercard_half .img-thumb { width: 155px; height: 155px; background-color: #fff; border-radius: 100%; }
.sell-blk-section .usercard_half .img-thumb img { border-radius: 100%; height: 100%; width: 100%; }

.sell-action-section{ margin: 0;padding: 0; position: relative; }
.sell-action-section .sell-action-div{ margin: 0 auto;padding: 60px 0; position: relative; text-align: center;}
.sell-action-section .sell-action-div h5{ margin: 0 0px 0 0;padding: 0; color:#fff; font-size: 20px; display: inline-block;font-weight: 400;line-height: 30px;width: 75%; }
.sell-action-section .sell-action-div .contact-btn-link { margin: 0; padding: 0; display: inline-block;}

.sell-action-section.homebg {background: url(../images/contact-action-bg.jpg) no-repeat center top; background-size: cover;}

.testimonials-three-section{ margin: 0;padding: 80px 0 50px 0; position: relative; background: #f3f3f3;}
.testimonials-three-section h2{  margin: 0; padding: 0; position: relative; color:#000; font-size: 26px; text-align: center;}
.testimonials-three-section .testimonials-three-listings-div { margin: 00px 0 0 0;padding: 0; position: relative;}
.testimonials-three-section .testimonials-three-listings-div .testimonials-box { margin: 0 auto;padding: 0; position: relative; text-align: center;}
.testimonials-three-section .testimonials-three-listings-div .testimonials-box .star { margin: 0 0 20px 0;padding: 0;}
.testimonials-three-section .testimonials-three-listings-div .testimonials-box .star i { margin-right: 8px;}
.testimonials-three-section .testimonials-three-listings-div .testimonials-box .star i.fill { margin-right: 8px;color: #b1935c; }

.testimonials-three-section .testimonials-three-listings-div .testimonials-box p { margin: 0 0 35px 0; padding: 0 15px; color:#8b8d8f; font-size: 15px; line-height: 24px;}
.testimonials-three-section .testimonials-three-listings-div .testimonials-box h4 { margin: 0 0 35px 0; padding: 0; color:#000; font-size: 15px; line-height: 24px;}

.get-in-touch-center{ display:flex;width: 100%;justify-content: center;align-items: center;flex-direction: column; }
.get-in-touch-center form{ width: 70%;justify-content: center; }


.lets-talk-section { margin: 0; padding: 0; position: relative; }
.lets-talk-section .lets-talk-div{ margin: 0; padding: 0px 0; position: relative;display: flex;height: 100%; }

.left_contact{ padding: 100px 0; }
.lets-talk-section .user_listing { display: flex; width: 100%;padding: 0 15%;height: 100%; }
.lets-talk-section .usercard_half { padding: 10px 0; margin: 0; display: flex; justify-content: center; align-items: center; flex-direction: column; width: 50%; }
.lets-talk-section .usercard_half h4 { padding: 10px 0; margin: 15px 0 0 0; font-size: 22px; font-weight: 400; color: #000; }
.lets-talk-section .usercard_half a{ margin: 0 0 0px 0; padding: 0; color:#4e4e4e; font-size: 17px; line-height: 30px; font-weight: normal; text-align: center; }
.lets-talk-section .usercard_half .img-thumb { width: 155px; height: 155px; background-color: #fff; border-radius: 100%; }
.lets-talk-section .usercard_half .img-thumb img { border-radius: 100%; height: 100%; width: 100%; }

.left_contact address{ padding: 30px 0;margin:20px 0 0 0;text-align: center;display: flex;align-items: center;justify-content: center; }
.left_contact address p { margin: 0 0 0px 0; padding: 0 19%; color: #4e4e4e; font-size: 17px; line-height: 30px; font-weight: normal; text-align: center;width: 70%; }

.right_contact { padding: 100px 0; background-color: #f0f0f0; }
.lets-talk-section .get-in-touch-form-div{ margin: 0; padding: 0; position: relative;}
.lets-talk-section .get-in-touch-form-div h3{ margin: 0 0 43px 0; padding: 0; position: relative; text-align: center; color:#000; font-size: 24px;}
.lets-talk-section .get-in-touch-form-div .form-control{ border-radius: 0; border: 1px solid #8b8d8f;}
.lets-talk-section .get-in-touch-form-div .sbtn-div { margin: 50px 0 0 0;}

.lets-talk-section .bg_contact_color{ background-color: #f0f0f0; }



@media (min-width:1200px) {
	.container {
		max-width: 1200px!important;
	}
}
@media only screen and (max-width: 767px){
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.container { width:100% !important;}
	.canvas { margin:0!important; padding:0!important;}

	.top-header-section { padding: 0;}
	.top-nav-div { width: 100%;}
	.logo { width: 80%; padding:20px 0 10px 10px; position:absolute;}

	/* mobile navigation start */
	.top-nav-div .nav { text-align: left; margin: 100px 0;}
	.top-nav-div .nav li { margin-bottom: 30px;}
	.top-nav-div .dropdown-menu { position: relative!important; transform:none; width: 100%; text-align: left;}
	.top-nav-div .dropdown-menu li { text-align: left; margin-left: 40px;}
	
	

	.nav-div .closebtn { display:block;}
	.nav-m-bar { position: absolute; top:20px; right: 20px;}
	.nav-m-bar .menu-bars{ background:url(../images/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}
	.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { background-color:transparent!important;}
	.user-dropdown .dropdown-menu li:hover a{ background-color: #000!important; }
	.user-dropdown .dropdown-menu, .notification-box .dropdown-menu{ left: -50px!important; }
	/* The side navigation menu */
	.top-nav-div .nav-div { height: 100%; width: 0; z-index: 9999999; top: 0;position: fixed;min-height: 100vh;overflow-y: auto; right: 0; overflow-x: hidden;  padding-top: 0px; transition: 0.5s;  }
	.nav-div .closebtn { position: absolute;color: #fff; background: #000; top:0;min-width: 50px; text-align: center; height: 50px; display: flex; justify-content: center; align-items: center; right: 0; font-size:44px; font-weight:300; }
	.nav-div .closebtn:hover { color: #fff; }
	
	.nav-div ul li { width: 100%; margin: 0px 0 5px 0; padding: 15px 20px; }

	.top-search-div { top:175px; position: absolute; width: 100%;}
	.top-search-div .top-search-form { width: 90%;}
	.top-search-div .top-search-form h1 { font-size: 32px;}
	.top-search-div .top-search-form .search-form .search-col-1, .top-search-div .top-search-form .search-form .search-col-2, .top-search-div .top-search-form .search-form .search-col-3 { width: 100%; margin:0 0 10px 0; }
	.select-items { background-color: rgba(0, 0, 0, 0.8); z-index: 9999;}
	.top-search-div .top-search-form .search-sub-col-1,
	.top-search-div .top-search-form .search-sub-col-2,
	.top-search-div .top-search-form .search-sub-col-3,
	.top-search-div .top-search-form .search-sub-col-4, .top-search-div .top-search-form .search-sub-col-5 { width: 100%; margin-bottom: 10px;}
	.sub-search-empty-col { display: none;}
	.top-search-div .top-search-form .dropdown dd ul{ background-color: rgba(0, 0, 0, 0.8); z-index: 9999;}

	.top-search-div .top-search-form .search-form{ display: block; }
	.top-search-div .top-search-form .search-sub-col-1, .top-search-div .top-search-form .search-sub-col-2, .top-search-div .top-search-form .search-sub-col-3, .top-search-div .top-search-form .search-sub-col-4, .top-search-div .top-search-form .search-sub-col-5 {
		width: 50%;
		margin-bottom: 10px;
	}
	

	.intro-section { padding: 100px 0px; }
	.featured-listings-section .featured-listings-box { margin-bottom: 20px;}
	.intro-bottom-section .intro-btm-col-1, .intro-bottom-section .intro-btm-col-2 { width: 100%;}
	.intro-bottom-section .intro-btm-col-2 .intro-btm-txt-section { padding: 20px;}
	.contact-action-section .contact-action-div .contact-btn-link { margin-top: 40px; display: block;}
	.footer-blk-div .footer-social { margin-top: 20px;}

	.sorting-select-div { float: right; position: relative; margin: 20px 0 0 0;}

	.listing-bg .hero-banner {  height: 70px;}
	.listing-bg .nav-m-bar .menu-bars { background: url(../images/menubar-dark.png) no-repeat!important;}
	.listing-bg .top-nav-div .nav li a { color:#fff;}

	.listing-gallery-blk-div #listing-prop-gallery { width: 100%; float: none;}
	.listing-gallery-blk-div #listing-prop-thumb-gallery{ width: 100%; float: none; margin-top: 20px;}
	.listing-gallery-blk-div .prop-gallery-thumb-slider li { height: auto; float: left; width:30%; margin: 0 5px;}

	.listing-gallery-section .listing-gallery-txt-white-div .property-txt { display: block; margin-bottom: 20px;}
	.listing-gallery-section .listing-gallery-txt-white-div .amenities-div { text-align: center; float: none;}
	.listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-1, .listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-2, .listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-3,
	.listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-4, .listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-5, .listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-6
	 { margin-right: 5px;}
	.listing-gallery-section .listing-gallery-txt-white-div .amenities-div .txt { font-size: 14px;}
	.listing-gallery-section .listing-gallery-txt-white-div { padding: 10px;}
	.listing-col-1, .listing-col-2 { width: 100%; float: none; margin: 0;}
	.bdr-right { border:0;}
	.listing-container .listing-txt-div { padding-right: 0;}

	.our-story-txt-section .our-story-txt { margin: 50px 20px;}
	.our-story-txt-img-section .our-story-txt { float: none; left: 0; width: 90%; text-align: center; margin: 0 auto; padding: 100px 0 230px 0;}

	.our-team-section .our-team-txt-div { padding:100px 20px;}
	.our-team-section .our-team-listing-div .our-team-list-box .normal-txt { height: auto; margin-bottom: 40px;}
	.projects-section .projects-txt-div { padding:100px 20px;}
	.projects-section .projects-listing-div .projects-list-box .normal-txt{ height: auto; margin-bottom: 30px;}

	.property-management-section .property-management-txt-div { padding: 100px 0px;}
	.property-mange-blk-1-section .property-manage-blk-1-div .txt { position: relative; top:0; left: 0; float: none; width: 100%; margin: 0; padding: 40px;}
	.property-mange-blk-2-section .property-manage-blk-2-div .txt { padding: 40px 20px; width: 100%; float: none;}
	.property-mange-blk-2-section .property-manage-blk-2-div .pic-div { width: 100%; float: none;}
	.property-mange-blk-2-section .property-manage-blk-2-div { padding: 0;}


	.property-mange-blk-1-section .property-manage-blk-1-div { max-height: 100%;display: block; }
	.property-mange-blk-1-section .property-manage-blk-1-div .pic-div { width: 100%; }
	.property-mange-blk-1-section .property-manage-blk-1-div .txt{ width: 100%;padding: 80px 15px; }
	

	.property-mange-blk-3-section .property-manage-blk-3-div .txt { padding: 40px 20px; width: 100%; float: none;}
	.property-mange-blk-3-section .property-manage-blk-3-div .pic-div { width: 100%; float: none;}
	.property-mange-blk-3-section .property-manage-blk-3-div { padding: 0;}
	
	.property-feature-amenities-section{ padding: 80px 0; }
	.property-feature-amenities-section .prop-feature-amenities-div .prop-feature-blk { margin: 0 0 65px 0;width: 100%; }
	.property-feature-amenities-section .prop-feature-amenities-div .prop-feature-blk:last-child { margin: 0 0 0px 0;width: 100%; }
	.property-feature-amenities-section .prop-feature-amenities-div{ padding: 25px 10%; }
	.property-feature-blk-section .prop-feature-blk-div { margin: 60px 0 80px 0; padding: 0 0px; }
	.property-feature-blk-section .black-link{ padding: 15px 20px;line-height: 24px;font-size:14px; }
	.feature_slider .carousel-indicators { bottom: 0px; }

	.property-feature-amenities-btm-section{ padding: 80px 0; }
	.property-feature-amenities-btm-section .prop-feature-amenities-btm-div .prop-feature-blk { margin: 0 0 20px 0;	width: 100%; }
	.property-feature-amenities-btm-section .prop-feature-amenities-btm-div ul li{ margin: 0 0 5px 0; }
	.property-feature-amenities-btm-section h3 { margin: 0 0 40px 0; }

	.get-in-touch-section .get-in-touch-form-div .tick-txt-div { margin: 0 0 10px 0;display: block; }
	.get-in-touch-section .get-in-touch-form-div .tick-txt-div .span_txt_label{ margin: 0 0 10px 0;display: block; }
	.get-in-touch-section .get-in-touch-form-div .tick-txt-div .checklist { margin: 0 0 5px 0; padding: 0 0px; display: block; }
	.get-in-touch-section .get-in-touch-form-div .sbtn-div { margin: 30px 0 0 0; }
	.get-in-touch-section .get-in-touch-div { padding: 130px 0 120px 0; }

	.sell-blk-section .sell-blk-div { margin: 0px 0 0 0; padding: 100px 15px 0 15px; position: relative; display: block; }
	.sell-blk-section .sell-blk-div .pic-div{ width: 100%; }
	.sell-blk-section .sell-blk-div .txt { margin: 20px 0 0 0; padding: 50px 0; width: 100%; }
	.sell-blk-section .sell-blk-div .txt h3 { margin: 0 0 30px 0; padding: 0; font-size: 24px; line-height: 32px; width: 100%; }
	.sell-blk-section .sell-blk-div .txt p{ width: 100%;font-size: 14px;line-height: 24px; }
	.user_listing { width: 100%; padding: 0 0%; display: block; }
	.sell-blk-section .usercard_half { margin: 0 0 30px 0; width: 100%; }

	.sell-action-section .sell-action-div h5 { margin: 0 0px 0 0; padding: 0; font-size: 18px; width: 100%; }
	.get-in-touch-center form { width: 100%; justify-content: center; }

	.lets-talk-section .user_listing { padding: 0 0%;display: block;  }
	.lets-talk-section .usercard_half { width: 100%; }
	.lets-talk-section .usercard_half { width: 100%; margin: 0 0 25px 0; }
	.left_contact address { padding: 0;margin: 0; }
	.left_contact address p { margin: 0 0 0px 0; padding: 0 0%; width: 100%; }

	.intro-bottom-section { max-height: 100%; display: block; }
	.intro-bottom-section .intro-btm-col-2 .intro-btm-txt-section { padding:80px 15px;width: 100%; }

	.testimonials-section{ padding: 80px 15px; }

	.t300{ top: 270px; }
	.get-in-touch-section .get-in-touch-div form { padding: 0px 0%; }

	.property-mange-blk-2-section .property-manage-blk-2-div { display: block; }
	.property-mange-blk-2-section .property-manage-blk-2-div .txt{ padding: 80px 15px; }
	
	.property-mange-blk-3-section .property-manage-blk-3-div { display: block; }
	.property-mange-blk-3-section .property-manage-blk-3-div .txt{ padding: 80px 15px; }
	
	.our-story-txt-img-section .our-story-img {	background-size: 125%; }
	
	/******/

	
	





}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	
	.container { width:100% !important;}
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}


	.top-header-section { padding: 0;}
	.top-nav-div { width: 100%;}
	.logo { width: 50%; padding:20px 0 10px 10px; position:absolute;    z-index: 2; }

	/* mobile navigation start */
	.top-nav-div .nav { text-align: left; margin: 100px 0;}
	.top-nav-div .nav li { margin-bottom: 30px;}
	.top-nav-div .dropdown-menu { position: relative!important; transform:none; width: 100%; text-align: left;}
	.top-nav-div .dropdown-menu li { text-align: left; margin-left: 40px;}
 

	.nav-div .closebtn { display:block;}
	.nav-m-bar { position: absolute; top:20px; right: 20px;}
	.nav-m-bar .menu-bars{ background:url(../images/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}
	.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { background-color:transparent!important;}
	.user-dropdown .dropdown-menu li:hover a{ background-color: #000!important; }
	.user-dropdown .dropdown-menu, .notification-box .dropdown-menu{ left: -50px!important; }
	/* The side navigation menu */
	.nav-div { height: 100%;  width: 0;  position: fixed; z-index: 9999999; top: 0; right: 0; overflow-x: hidden;  padding-top: 60px; transition: 0.5s;  }
	.nav-div .closebtn { position: absolute;color: #fff; background: #000; top:0;min-width: 50px; text-align: center; height: 50px; display: flex; justify-content: center; align-items: center; right: 0; font-size:44px; font-weight:300; }
	.nav-div .closebtn:hover { color: #fff; }
	
	.nav-div ul li { width: 100%; margin: 0px 0 5px 0; padding: 15px 20px; }

	.top-search-div { top: 250px; position: absolute; left: 0; display: flex; justify-content: center; width: 100%; }
	.t300{ top: 300px; }
	.top-search-div .top-search-form .search-form { display: block;}
	.top-search-div .top-search-form h1 { font-size:28px;}
	.top-search-div .top-search-form { width: 75%;}
	.top-search-div .top-search-form h1 { font-size: 32px;}
	.top-search-div .top-search-form .search-form .search-col-1, .top-search-div .top-search-form .search-form .search-col-2, .top-search-div .top-search-form .search-form .search-col-3 { width: 100%; margin:0 0 10px 0;}
	.select-items { background-color: rgba(0, 0, 0, 0.8); z-index: 9999;}
	.top-search-div .top-search-form .search-sub-col-1,
	.top-search-div .top-search-form .search-sub-col-2,
	.top-search-div .top-search-form .search-sub-col-3,
	.top-search-div .top-search-form .search-sub-col-4, .top-search-div .top-search-form .search-sub-col-5 { width: auto;margin-right: 25px;margin-bottom: 10px; }
	.sub-search-empty-col { display: none;}
	.top-search-div .top-search-form .dropdown dd ul{ background-color: rgba(0, 0, 0, 0.8); z-index: 9999;}


	.intro-section { padding: 100px 20px;}
	.intro-bottom-section .intro-btm-col-2 .intro-btm-txt-section { padding:40px 20px;}
	.intro-bottom-section .intro-btm-col-1, .intro-bottom-section .intro-btm-col-2 { width: 100%;}

	.featured-listings-box .amenities-div .amenities-1 { margin: 0 8px 0 0;}
	.featured-listings-box .amenities-div .txt { font-size: 18px;}
	.sorting-select-div { float: right; position: relative; margin: 20px 0 0 0;}

	.listing-bg .hero-banner {  height: 70px;}
	.listing-bg .nav-m-bar .menu-bars { background: url(../images/menubar-dark.png) no-repeat!important;}
	.listing-bg .top-nav-div .nav li a { color:#fff;}

	.listing-gallery-section .listing-gallery-txt-white-div .property-txt { display: block; margin-bottom: 20px;}
	.listing-gallery-section .listing-gallery-txt-white-div .amenities-div { text-align: center; float: none;}
	.listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-1, .listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-2, .listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-3,
	.listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-4, .listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-5, .listing-gallery-section .listing-gallery-txt-white-div .amenities-div .amenities-6
	 { margin-right: 15px;}
	.listing-gallery-section .listing-gallery-txt-white-div .amenities-div .txt { font-size: 18px;}
	.agent-list-section .agent-info-div p { font-size: 16px;}

	.our-story-txt-section .our-story-txt { margin: 50px 20px;}
	.our-story-txt-img-section .our-story-txt { float: none; left: 0; width: 90%; text-align: center; margin: 0 auto; padding: 100px 0 500px 0;}
	.projects-section .projects-txt-div { padding: 60px 20px;}
	.projects-section .projects-listing-div .projects-list-box .normal-txt { height: 150px;}

	.property-mange-blk-1-section .property-manage-blk-1-div .txt { position: relative; top:0; left: 0; float: none; width: 100%; margin: 0; padding: 40px;}
	.property-mange-blk-2-section .property-manage-blk-2-div .txt { padding: 40px; width: 100%; float: none;}
	.property-mange-blk-2-section .property-manage-blk-2-div .pic-div { width: 100%; float: none;}
	.property-mange-blk-2-section .property-manage-blk-2-div { padding-bottom: 0;}

	.property-mange-blk-3-section .property-manage-blk-3-div .txt { padding: 40px; width: 100%; float: none;}
	.property-mange-blk-3-section .property-manage-blk-3-div .pic-div { width: 100%; float: none;}
	.property-mange-blk-3-section .property-manage-blk-3-div { padding-bottom: 0;}

		
	.property-feature-amenities-section .prop-feature-amenities-div .prop-feature-blk { margin: 0 0 0px 0;width: 33.3%; }
	.property-feature-amenities-section .prop-feature-amenities-div .prop-feature-blk:last-child { margin: 0 0 0px 0;width: 33.3%; }
	.property-feature-amenities-section .prop-feature-amenities-div{ padding: 15px 0%; }
	.property-feature-blk-section .prop-feature-blk-div { margin: 60px 0 80px 0; padding: 0 0px; }
	.property-feature-blk-section .black-link{ padding: 15px 20px;line-height: 24px;font-size:14px; }
	.feature_slider .carousel-indicators { bottom: 0px; }

	.property-feature-amenities-btm-section .prop-feature-amenities-btm-div .prop-feature-blk { margin: 0 0 20px 0;	width: 50%; }
	.property-feature-amenities-btm-section .prop-feature-amenities-btm-div ul li{ margin: 0 0 5px 0; }
	
	.get-in-touch-section .get-in-touch-form-div .tick-txt-div { margin: 0 0 10px 0;display: block; }
	.get-in-touch-section .get-in-touch-form-div .tick-txt-div .span_txt_label{ margin: 0 0 10px 0;display: block; }
	.get-in-touch-section .get-in-touch-form-div .tick-txt-div .checklist { margin: 0 0 5px 0; padding: 0 0px; display: block; }
	.get-in-touch-section .get-in-touch-form-div .sbtn-div { margin: 30px 0 0 0; }
	.get-in-touch-section .get-in-touch-div { padding: 130px 0 100px 0; }

	.sell-blk-section .sell-blk-div { display: block; }
	.sell-blk-section .sell-blk-div .txt { margin: 90px 0 0 0; padding: 0; width: 100%; }
	.sell-blk-section .sell-blk-div .pic-div { width: 100%; }

	.intro-bottom-section { max-height: 100%; display: block; }
	.intro-bottom-section .intro-btm-col-2 .intro-btm-txt-section { padding:80px 20px;width: 75%; }
	.top-search-div .top-search-form .dropdown dd ul{ 	min-width: 150px; }

	.featured-listings-section h2 { text-align: left; display: inline-block; }
	.sorting-select-div { margin: 0px 0 0 0; display: inline-block; }
	

	.property-management-section .property-management-txt-div { padding: 80px 15% 80px 15%; }
	.property-mange-blk-1-section .property-manage-blk-1-div { max-height: 100%;display: block; }
	.property-mange-blk-1-section .property-manage-blk-1-div .pic-div { width: 100%; }
	.property-mange-blk-1-section .property-manage-blk-1-div .txt{ width: 100%;padding: 80px 15%; }

	.property-mange-blk-2-section .property-manage-blk-2-div { display: block; }
	.property-mange-blk-2-section .property-manage-blk-2-div .txt{ padding: 80px 10%; }

	.property-mange-blk-3-section .property-manage-blk-3-div { display: block; }
	.property-mange-blk-3-section .property-manage-blk-3-div .txt{ padding: 80px 10%; }

	


}

@media only screen and (min-width: 1024px) and (max-width: 1366px)
{

	.intro-bottom-section { max-height: 100%; }
	.intro-bottom-section .intro-btm-col-1{ display: block;height: auto; }
	.intro-bottom-section .intro-btm-col-2{ display: flex;height: auto; }
}

@media only screen and (min-width: 1025px) and (max-width: 1281px)
{	

	.intro-bottom-section .intro-btm-col-2 .intro-btm-txt-section{ width: 75%; }
	.intro-bottom-section .intro-btm-col-2 { display: flex; height: 100%; }
	.user_listing { padding: 0 0%; }
	.sell-blk-section .sell-blk-div .txt h3, .sell-blk-section .sell-blk-div .txt p{ width: 100%; }
	.sell-blk-section .sell-blk-div .txt { margin: 0px 0 0 0; padding: 50px 15px 0 15px; }
	.sell-blk-section .sell-blk-div {	align-items: flex-start; }
	.sell-blk-section .sell-blk-div .txt h2 { margin: 0 0 30px 0; }		
	.sell-blk-section .sell-blk-div { padding: 100px 15px; }
	.property-mange-blk-1-section .property-manage-blk-1-div .txt { padding: 0 5%; }
	.property-mange-blk-2-section .property-manage-blk-2-div .txt { padding: 0 5%; }
	.property-mange-blk-3-section .property-manage-blk-3-div .txt { padding: 0 5%; }
	.our-story-txt-img-section .our-story-txt { padding: 100px 0;width: 25%;left: 65%; }

}


