    /*
    Flaticon icon font: Flaticon
    Creation date: 14/02/2019 07:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-down-arrow:before { content: "\f100"; }
.flaticon-sort-down:before { content: "\f101"; }
.flaticon-close:before { content: "\f102"; }
.flaticon-placeholder:before { content: "\f103"; }
.flaticon-placeholder-1:before { content: "\f104"; }
.flaticon-bed:before { content: "\f105"; }
.flaticon-facebook-black-social-button-circle:before { content: "\f106"; }
.flaticon-facebook:before { content: "\f107"; }
.flaticon-instagram:before { content: "\f108"; }
    
    $font-Flaticon-down-arrow: "\f100";
    $font-Flaticon-sort-down: "\f101";
    $font-Flaticon-close: "\f102";
    $font-Flaticon-placeholder: "\f103";
    $font-Flaticon-placeholder-1: "\f104";
    $font-Flaticon-bed: "\f105";
    $font-Flaticon-facebook-black-social-button-circle: "\f106";
    $font-Flaticon-facebook: "\f107";
    $font-Flaticon-instagram: "\f108";