	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/02/2019 07:58
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;        
font-style: normal;
}

.flaticon-down-arrow:before { content: "\f100"; }
.flaticon-sort-down:before { content: "\f101"; }
.flaticon-close:before { content: "\f102"; }
.flaticon-placeholder:before { content: "\f103"; }
.flaticon-placeholder-1:before { content: "\f104"; }
.flaticon-bed:before { content: "\f105"; }
.flaticon-facebook-black-social-button-circle:before { content: "\f106"; }
.flaticon-facebook:before { content: "\f107"; }
.flaticon-instagram:before { content: "\f108"; }